<% all_user_groups(user_profile, true).each do |group| %>
    <div>
        <%= link_to group.name, group_path(group) %>
        <br>
        Moderator: <%= link_to group.mod.username, user_path(group.mod) %>
        <br>
        Members: 
        <% group.subscribers.each do |user| %>
            <% unless user == group.mod %>
                <%= link_to user.username, user_path(user) %>
            <% end %>
        <% end %>
    </div>
    <br>
<% end %>
    