<%= render partial: 'profile', locals: {user_profile: current_user} %>

<br>

<% if !current_user.invites?.empty? %>
    <h3> Pending Invites: </h3>
    <%= render partial: 'subscriptions/invite_index', collection: current_user.invites?, as: :sub %>
<% end %>