
<div class="group_inv"> 
    <h3 class="title_link">
        <%= link_to sub.group.name, group_path(sub.group_id) %> 
    </h3>
    <div class="group_info">
        <p style="text-align:left;">
            <b>Moderator: </b><%= link_to sub.group.mod.username, user_path(sub.group.mod) %>
        </p>
        <br>
        <div class="join_button">
            <%= button_to 'Click Here to Join', group_subscription_path(sub.group_id, sub), method: :patch, params: { query: 'accept' }%> 
            <p style="text-align:center;">OR: </p>
            <%= button_to 'Click Here to Decline Invite', group_subscription_path(sub.group_id, sub), method: :delete %>

        </div>
        <br>
    </div>
</div>


