<% if !@followers.blank? %>
    <%= render partial: 'users/user_details', collection: @followers, as: :user_profile %>
<% else %>
    <br>
    <p style="text-align: center;">No Followers!</p>
<% end %>