<header>
    <div class="navbar" style="position: relative;">

        <nav>
            <ul>
                <li><%= link_to "Home", user_path(current_user)%></li>
                <li><%= link_to "Your Groups", user_groups_path(current_user)%> </li>
                <li><%= link_to "Sign Out", destroy_session_path(current_user), method: :delete%></li>
                <li><%= link_to "Most Subscribed Group", groups_most_subscribers_path, method: :get %></li>

            </ul>
        </nav>
                
    </div>
<header>
<br>
<br>